.notes {
  margin-top: 4.75rem;
  flex-grow: 1;
  background-color: var(--nav-bg-color);
  color: var(--body-color);
}

.note-wrapper {
  margin-left: 9.9rem;
  padding: 1rem;
  flex-basis: calc(100vh - 76px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.note-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.note-input-container {
  display: flex;
  flex-direction: column;
  box-shadow: var(--note-input-shadow);
  height: max-content;
  padding: 1rem 0.5rem;
  border-radius: 5px;
  margin-inline: auto;
  max-width: 36.25rem;
  position: relative;
}

.note-input-container > input {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--body-color);
  font-size: 1rem;
}

.note-input-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.note-input-footer > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.note-input-footer > div > svg {
  color: var(--nav-color);
  cursor: pointer;
}

.note-input-footer > div > svg:hover {
  background-color: var(--side-nav-hover);
  border-radius: 999px;
}

.note-input-footer > div > input {
  width: 2rem;
  background-color: transparent;
  border: 1px solid;
  cursor: pointer;
}

.note-input-btn {
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 6px;
  color: var(--nav-color);
  font-weight: 500;
}

.note-input-btn:hover {
  color: var(--body-color);
  background-color: var(--side-nav-hover);
}

@media screen and (max-width: 550px) {
  .note-wrapper {
    margin-left: 5.8rem;
  }
}
