.quill .ql-editor {
  min-height: 4rem;
  max-height: 10rem;
  overflow-y: auto;
}

.quill .ql-editor p img {
  max-width: 14rem;
  display: inline-block;
}

.quill .ql-toolbar.ql-snow {
  border: none;
}
.quill .ql-container.ql-snow {
  border: none;
  border-bottom: 1px solid transparent;
}
